.body {
  font-family: Montserrat;
  background-image: $background;
  margin: 2vh;

  .header {
    background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(5, 175, 242, 3)
    );
    position: sticky;
    top: 0;
    z-index: 1;
    .navbar {
      justify-content: space-evenly;
      align-items: center;
      color: white;
      .logo {
        height: 7vh;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
      }
    }
  }
  .main {
    margin: 1vh;
  }
  .footer {
    background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(5, 175, 242, 3)
    );

    text-shadow: 1px 1px 1px #000000;
    color: white;
  }
  .row {
    justify-content: space-evenly;
    align-items: center;
  }
}
