h1 {
  text-shadow: 2px 2px 4px #000000;
  color: $titulo;
  text-transform: uppercase;
  text-align: center;
}
.TituloContacto {
  color: #049dd9;
}
h2 {
  color: $titulo;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
}
h3 {
  font-weight: 400;
  color: $titulo;
}
h4,
h5 {
  color: rgb(162, 218, 250);
}
.textCenter {
  text-align: center;
}
