$background: linear-gradient(95deg, #05aff2, #1a5b75);
$titulo: white;
@each $product in vigia, viesa, gestya, vitran, voryl, coblow, rentagro {
  .#{$product}-list {
    width: 100px;
    height: 100px;
    background-image: url("../Imagenes/#{$product}.jpg");
    background-repeat: no-repeat;
  }
}
