.ad {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: start;
  border-radius: 20px;
  .img__adNm444hl {
    cursor: pointer;
    width: 300px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
  }
  .ad__text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 300px;
    height: 600px;
    background: linear-gradient(
      rgba(107, 107, 107, 0.4),
      rgba(241, 241, 241, 0.4)
    );
    color: white;
    text-shadow: 1px 1px 1px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
  }
  .ad__text:hover {
    opacity: 1;
  }
}
